{% extends "get_together/base.html" %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<div class="container">
    <h3>{% trans "Pick a name and location for your new team" %}</h3>

    <form action="{% url "create-team" %}" method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}

        {% if team.organization %}
        <input type="hidden" name="organization" value="{{team.organization.id}}" />
        {% endif %}

        {% if event %}
        <input type="hidden" name="event" value="{{event}}" />
        {% endif %}

        {{ team_form | crispy }}

        <p><button type="submit" class="btn btn-primary">{% trans "Continue" %}</button></p>
    </form>
</div>
{% endblock %}